.homepage-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .body-container {
    flex: 1;
    .tab-live, .tab-history {
      height: 100%;
    }
  }


}
