.trip-item {
  cursor: pointer;
  color: #007bff;
  margin: 4px 0;
}

.trip-item:hover {
  text-decoration: underline;
}

.body-container {
  height: 100vh;
  width: 100vw;
  display: flex;
}

@media (max-width: 480px) {

  .body-container {
    height: 100%;

  }

}
